/*CSS pro pilatesvbrne-mobil*/
:root {
    --pri-color: #FFFFFF;
    --sec-color: #b3e7ff;
    --ter-color: #009EE3;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/*Main*/
.logo {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 100px;
}

/*Part-1*/
.con_1 {
    background-image: url("../img/img/main.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../img/img/main.png");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.txt1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 250px;
    text-align: center;
    color: var(--pri-color);
    font-size: 2rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ter-color);
    padding: 10px 15px 10px 15px;
    font-size: 1rem;
    color: var(--pri-color);
    margin-top: 2rem;
    border-radius: 5px;
}

.card_button {
    margin-top: auto;
    margin-bottom: 2rem;
}

/*Part-2*/
/* Cards */
.cards {
    margin-top: 1rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--sec-color);
    border-radius: 20px;
    height: 350px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    transform: translate(-1px, -2px) rotate(-1deg);
    transition: .2s;
}

.card_hd {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.card_txt {
    text-align: center;
    width: 80%;
    margin-top: 1rem;
}

.card_img {
    width: 100px;
}

/*Part-3*/
.wave {
    margin-top: 4rem;
    margin-left: -4rem;
    width: 800px;
}

.background {
    margin-top: -1rem;
    background-color: var(--sec-color);
    width: 100%;
    padding-bottom: 2rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ter-color);
    padding: 10px 15px 10px 15px;
    font-size: 1rem;
    color: var(--pri-color);
    margin: auto;
    margin-top: 2rem;
    width: 80px;
    border-radius: 5px;
}

/* Gallery */

.gallery_container {
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
    margin-top: 2rem;
}

.photos > img {
    width: 250px;
    transition: transform .2s;
    padding: .2vw;
    background-color: #fff;
}
.photos > img:hover {
    transform: scale(1.25);
}

.hidden {
    display: none;
}

/* Reviews */
.reviews_container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.width {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.reviews {
    padding: 1rem;
    width: 300px;
    height: 260px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.reviews_header {
    margin-top: 2rem;
}

.text {
    font-style: italic;
    font-size: .7rem;
}

.name {
    font-size: 1rem;
    font-weight: 400;
    align-self: flex-start;
    margin-top: auto;
}

/*Footer*/

footer{
    color: var(--pri-color);
    width: 100%;
    margin-top: -20px;
}

.svg {
    background-color: #b3e7ff;
}

.footer-container {
    background-color: var(--ter-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.logo-white {
    max-width: 200px;
}

.copyright{
    text-align: center;
    font-size: .5rem;
    width: 100%;
    background-color: var(--ter-color);
    padding-bottom: .5rem;
}

.social-icon {
    width: 20px;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-left: -.3rem;
    gap: .3rem;
}

.footer-contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: .8rem;
    gap: .2rem;
}

.contacts-hd {
    margin-bottom: .5rem;
    font-weight: 600;
    font-size: 1rem;
}

/* */
