/*CSS pro pilatesvbrne*/
:root {
    --pri-color: #FFFFFF;
    --sec-color: #b3e7ff;
    --ter-color: #009EE3;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{

}

/*Navigace-header*/
/* Možná ani navigace nebude xd */

nav{

}

/*Main*/
.logo{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20vw;
}

/*Part-1*/
.con_1 {
    background-image: url("../img/img/main.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../img/img/main.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.txt1{
    width: 60%;
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 6vw;
    margin-bottom: 3rem;
}

/*Part-2*/

.cards_big_container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-self: stretch;
}

.cards {
    margin-top: 4vw;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    align-self: stretch;
}

.card {
    align-self: stretch;
    width: 15vw;
    padding: 1.5vw;
    background-color: var(--sec-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: auto;
}

.card_txt{
    text-align: center;
    font-size: 1.25vw;
    margin-top: 1vw;
}

.card_hd{
    font-family: Arial;
    text-align: center;
    font-weight: 700;
    margin-top: 1vw;
    font-size: 1.75vw;
}

.card_img{
    margin-top: 1.5vw;
    align-self: center;
    margin-bottom: 2rem;
    width: 10vw;
}

/*Part-3*/
.wave{
    margin-top: 7rem;
    width: 100%;
    height: 8vw;
    margin-bottom: 0;
    font-size: 0;
}

.background{
    margin-top: -4px;
    width: 100%;
    height: 800px;
    background-color: var(--sec-color);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}

/*Button*/

.button{
    padding: .80vw 1vw .80vw 1vw;
    background-color: var(--ter-color);
    border-radius: 1vw;
    color: white;
    font-size: 1.25vw;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
}

.button2{
    width: 6vw;
    height: 4vw;
    background-color: var(--ter-color);
    border-radius:20px;
    color: white;
    font-size: 24px;
    font-family: arial;
    text-align:center;
    line-height: 60px;
    cursor: pointer;
    -webkit-user-select: none;
}

/* Gallery */
.gallery_container {
    display: flex;
    justify-content: center;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
}

.photos > img {
    width: 15vw;
}

/*Footer*/

footer{
    text-align: center;
    background-color: var(--ter-color);
    color: var(--pri-color);
}

.kontakt{
    padding: 1rem;
    font-size: 1.2rem;
}

.devider{
    margin-top: 20px;
    height: 1px;
    background-color: #cacaca;
}

.copyright{
    padding-top: 10px;
    font-size: 0.75rem;
}

