/*CSS pro pilatesvbrne*/


body{

}

/*Navigace-header*/

nav{

}

/*Main*/

/*Part-1*/

.con_1{

}

.txt1{

}

/*Part-2*/

.con_2{

}

.header1{

}

.txt2{

}

.img1{

}

/*Part-3*/

.con_3{

}

.header2{

}

.txt3{

}

.img2{

}

/*Part-4*/

.con_4{

}

.header3{

}

.txt4{
    
}

.img3{

}

/*Part-5*/

.background{

}

.header4{

}

.images1{

}

.header5{

}

.images2{

}

/*Button*/

.button{

}

/*Footer*/

footer{

}

.dividing_line{

}

.copyright{
    
}