/*CSS pro pilatesvbrne*/
:root {
    --pri-color: #FFFFFF;
    --sec-color: #b3e7ff;
    --ter-color: #009EE3;
}

* {
    margin: 0;
    padding: 0;
}

body{

}

/*Navigace-header*/
/* Možná ani navigace nebude xd */

nav{

}

/*Main*/
.logo{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 400px;
}

/*Part-1*/
.con_1 {
    background-image: url("../img/img/main.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../img/img/main.png");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.txt1{
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 90px;
}

/*Part-2*/

.cards_big_container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.cards{
    margin-top:4rem;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card{
    width: 350px;
    height: 494px;
    background-color: var(--sec-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.card_txt{
    text-align: center;
    font-size: 22px;
    padding-top: 30px;
    padding-left:30px;
    padding-right:30px;

}

.card_hd{
        font-family: Arial;
        text-align: center;
        font-weight: 700;
        margin-top: 2rem;
        font-size: 35px;

      
}
.card_img{
   align-self: center;
}


/*Part-3*/
.wave{
    margin-top: 7rem;
    width: 100%;
    margin-bottom: 0;
    font-size: 0;
}

.background{
    margin-top: -4px;
    width: 100%;
    height: 800px;
    background-color: var(--sec-color);
}



/*Button*/

.button{
    width: 120px;
    height: 60px;
    background-color: var(--ter-color);
    border-radius:20px;
    color: white;
    font-size: 24px;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    margin-bottom: 1rem;
}
.button2{
    width: 120px;
    height: 60px;
    background-color: var(--ter-color);
    border-radius:20px;
    color: white;
    font-size: 24px;
    font-family: arial;
    text-align:center;
    line-height: 60px;
    cursor: pointer;
    -webkit-user-select: none;
    margin: auto;
}
/*Footer*/

footer{

}

.dividing_line{

}

.copyright{
    
}

