/*CSS pro pilatesvbrne*/
:root {
    --pri-color: #FFFFFF;
    --sec-color: #b3e7ff;
    --ter-color: #009EE3;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{

}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/*Navigace-header*/
/* Možná ani navigace nebude xd */

nav{

}

a {
    text-decoration: none;
}

/*Main*/
.logo{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 15vw;
}

/*Part-1*/
.con_1 {
    background-image: url("../img/img/main.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../img/img/main.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.txt1{
    width: 60%;
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 6vw;
    margin-bottom: 3rem;
}

/*Part-2*/

.cards_big_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards {
    margin-top: 4vw;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}

.card {
    width: 15vw;
    padding: 1.5vw;
    background-color: var(--sec-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    transform: translate(-1px, -2px) rotate(-1deg);
    transition: .2s;
}

.card_txt{
    text-align: center;
    font-size: 1vw;
    margin-top: 1vw;
}

.card_hd{
    font-family: Arial;
    text-align: center;
    font-weight: 700;
    margin-top: 1vw;
    font-size: 1.75vw;
}

.card_img{
    margin-top: 1.5vw;
    align-self: center;
    width: 10vw;
    margin-bottom: 2rem;
}

/*Part-3*/
.wave{
    margin-top: 5vw;
    width: 100%;
    height: 8vw;
    font-size: 0;
}

.background{
    margin-top: -4px;
    width: 100%;
    background-color: var(--sec-color);
    padding-bottom: 3rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: 600;
}

/*Button*/

.button{
    padding: .80vw 1vw .80vw 1vw;
    background-color: var(--ter-color);
    border-radius: 1vw;
    color: white;
    font-size: 1.25vw;
    font-family: arial;
    display: flex;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
}

.card_button {
    margin-top: auto;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.button2{
    padding: .80vw 1vw .80vw 1vw;
    background-color: var(--ter-color);
    border-radius: 1vw;
    color: white;
    font-size: 1.5vw;
    font-family: arial;
    text-align:center;
    cursor: pointer;
    -webkit-user-select: none;
}

/* Gallery */
.gallery_container {
    display: flex;
    justify-content: center;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
    gap: 1.5vw;
    margin-top: 2vw;
}

.photos > img {
    width: 15vw;
    transition: transform .2s;
    padding: .2vw;
    background-color: #fff;
}
.photos > img:hover {
    transform: scale(1.5);
}

/* Reviews */
.reviews_container {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.width {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    width: 80%;
}

.reviews {
    padding: 1vw;
    width: 18vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.reviews_header {
    margin-top: 2vw;
}

.text {
    font-style: italic;
    font-size: .75vw;
    margin-bottom: 1vw;
}

.name {
    font-size: 1vw;
    font-weight: 400;
    align-self: flex-start;
    margin-top: auto;
}

/*Footer*/

footer{
    background-color: var(--ter-color);
    color: var(--pri-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
}

.devider{
    margin-top: 20px;
    height: 1px;
    background-color: #cacaca;
}

.copyright{
    text-align: left;
    padding-top: 10px;
    font-size: 0.75rem;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    33% { transform: translate(-1px, -2px) rotate(-1deg); }
    100% { transform: translate(0px, 0px) rotate( 0deg); }
}